@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:focus-visible, .custom-focus:focus, .custom-focus:focus-within {
		outline: 2px dashed rgb(255, 183, 0); /* Example: neutral-300 */
		border-radius: 2px;
	}

	.input-hover-enabled:not(:focus):hover {
		border-color: rgb(163 163 163);
	}

	/* Dark mode background gradient */
	.dark .gradient {
		background: linear-gradient(to top right, rgba(60, 60, 60, 0.6), rgba(38, 38, 38, 1.0)), url('/bg/dark-noisy.png') !important;
	}

	input::placeholder,
  textarea::placeholder {
    color: rgba(125, 125, 125);
  }

}
